@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* nav 1 */

.navone{
    background-color: rgb(59, 50, 50);
    height: 50px;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navone img{
    height: 45px;
    width: 50px;
    padding: 2px;
    padding-left: 15px;
}

.ulone{
    float: right;
    padding-top: 3px;
}

.ulone a{
    text-decoration: none;
    padding: 13px;
    float: left;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.divone img{
    height: 700px;
    width: 100%;
}

/* nav 2 */

.navtwo{
    width: 100%;
    background-color: rgb(0, 162, 255);
    overflow: auto;
    height: 44px;
}
        
.navtwo a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
        
.navtwo a:hover {
    color: rgb(143, 233, 240);
}
        
.active2 {
    background-color: #f11515;
}

/* nav 3 */

.header {
   height: 100px;
   width: 100%;
}
.header img{
     height: 60px;
     width: 20%;
     padding: 20px;
} 

.topnav {
    overflow: hidden;
    background-color: #000;
}

.botnav {
    overflow: hidden;
    background-color: #fcba03;
}

.topnav{
     padding-left: 200px;
 } 
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.botnav{
    padding-left: 147px;
}

.botnav a {
    float: left;
    display: block;
    color: #000
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px
}  

.botnav a:hover {
    background-color: #000;
    color: white;
}
